

.page-title{
  text-align: center;
  font-size: 80px;
  color: $color-main;
  letter-spacing: 10px;
  font-weight: bold;
  position: relative;

  &::after {
    content: "";
    background-color: $color-main;
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    height: 6px;
    width: 80%;
    
  }
} 


.about {
  position: relative;
  &::after {
    content: "";
    background-color: $color-main;
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    height: 6px;
    width: 50%;
  }
}